#vi my.cnf

[mysqld]
#binlog
server-uuid=75928856-dbb6-11e9-8e6c-7845f3f2e49e
#server-id = #id
log-bin
binlog_format = row
binlog_row_image = full

[mysqld_safe]
#binlog
server-uuid=75928856-dbb6-11e9-8e6c-7845f3f2e49e
#server-id = #id
log-bin
binlog_format = row
binlog_row_image = full